
    <h1>Author Analytics</h1>
    <p>Enter an author's name below to view the articles they have edited
        <br> Once an author is found, you can select an article to view when the author edited it.</p>
    <form>
        <table>
            <tr>
                <td>
                    <input type="text" id="authorEntryBox" />
                </td>
                <td>
                    <input type="button" value="Find Author" id="authorSearchButton" />
                </td>
            </tr>
        </table>
    </form>
    <table id="articleList">

    </table>

