<table>
    <tr>
        <td>
            Showing Revisions to this article
        </td>
        <td>
            <select id="chartSelectorIndividualArticles">
                <option value="Over Time">Over Time</option>
                <option value="In Total">In Total</option>
                <optgroup label = "Over Time By a Specifc User" id="putUsersHere">

                </optgroup>
            </select>
        </td>
        <td>
            <input type="button" value="Update" id="chartSwitcherIndividualArticle"/>
        </td>
    </tr>
</table>