doctype html
head
    link(rel='stylesheet' href='style.css')
    script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript' src='javascripts/chart.js')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/momentjs/2.13.0/moment.min.js')
ul#menu
    li
        h2
            | Wikilatics
    li
        a.active#Overview Overview
    li
        a#ArticleAnalytics Article Analytics
    li
        a#AuthorAnalytics Author Analytics
block content

